<template>
    <v-expansion-panel-content>
        <div slot="header">
            <v-layout>
                <v-flex xs12>
                    <p class="body-2 mb-0">{{item.product.name}}</p>
                    <span class="body-1">{{item.quantity}} x {{item.product.price | currency}}</span>
                    <p class="body-2 my-0" >Total: {{item.quantity * item.product.price | currency}}</p>
                </v-flex>
            </v-layout>
        </div>
        <v-card>
            <v-card-text>
                <v-form ref="form" v-model="validForm">
                    <v-text-field required label="Cantidad" type="number" prepend-icon="edit" :rules="quantityRules" v-model="quantity"></v-text-field>
                    <v-btn small flat color="primary" v-if="quantity != item.quantity && validForm" @click="submit">Actualizar</v-btn>
                </v-form>
                <v-btn block color="error" class="my-2" @click="deleteItem">
                    <v-icon>remove_shopping_cart</v-icon>
                    Remover
                </v-btn>
            </v-card-text>
        </v-card>
    </v-expansion-panel-content>
</template>

<script>
  export default {
    name: "cart-item",
    props: ['item'],
    data() {
      return {
        quantity: 0,
        validForm: true,
        quantityRules: [
            v => !!v || 'La cantidad es requerida',
            v => (v && /^\d+$/.test(v) && v > 0) || 'Se requiere un número entero mayor a cero',
            v => (v <= this.item.product.quantity) || 'No hay stock para esta cantidad'
        ]
      }
    },
    methods: {
      refreshQuantity(){
        this.quantity = this.item.quantity
      },
      deleteItem() {
        this.$store.commit('deleteProductCart', this.item)
      },
      submit() {
        if (this.$refs.form.validate()) {
          this.$store.commit('editProductCartQuantity', {item: this.item, quantity: this.quantity})
          this.refreshQuantity()
        }
      }
    },
    mounted() {
      this.refreshQuantity()
    },
    watch: {
      // use anonymous function instead arrow function to allow use this
      'item.quantity': function(value) {
        this.refreshQuantity()
      }
    }
  }
</script>

<style scoped>
</style>