<template>
    <v-container class="shopping-cart--container" fluid>
        <v-layout column>
            <h1>Mis artículos</h1>
            <v-flex>
                <v-expansion-panel popout>
                    <cart-item
                            v-for="(item, i) in getShoppingCartProducts"
                            :key="i"
                            v-bind:item="item"
                    ></cart-item>
                </v-expansion-panel>
            </v-flex>
            <v-flex>
                <v-btn @click="buy" block color="primary" :disabled="getShoppingCartProducts.length == 0">
                    Comprar {{shoppingCartTotal | currency}}
                </v-btn>
            </v-flex>
            <v-dialog
                    v-model="dialog"
                    max-width="290"
            >
                <v-card>
                    <v-card-title class="headline success--text">Transacción Realizada</v-card-title>

                    <v-card-text>
                        <p>Tu compra fue exitosa! Enviaremos tu factura a tu correo electrónico.</p>
                        <span class="caption">Por favor no preguntes como lo obtuvimos ;)</span>
                    </v-card-text>

                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn
                                color="green darken-1"
                                flat="flat"
                                @click="dialog = false"
                        >
                            OK
                        </v-btn>
                    </v-card-actions>
                </v-card>
            </v-dialog>
        </v-layout>
    </v-container>
</template>

<script>
  import { mapGetters } from 'vuex'
  import CartItem from "./cart-item";

  export default {
    name: "shopping-cart",
    components: {CartItem},
    data() {
      return {
        dialog: false
      }
    },
    computed: {
      ...mapGetters(['getShoppingCartProducts', 'shoppingCartTotal'])
    },
    methods: {
      buy(){
        this.$store.commit('buy')
        this.dialog = true
      }
    }
  }
</script>

<style scoped>
    .shopping-cart--container {
        padding: 16px;
    }
</style>