<template>
    <v-list>
        <v-list-tile
                @click=""
                to="/"
        >
            <v-list-tile-action>
                <v-icon v-html="'home'"></v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
                <v-list-tile-title v-text="'MiTienda'"></v-list-tile-title>
            </v-list-tile-content>
        </v-list-tile>
        <v-list-group
            v-for="(category) in categories"
            :key="category.id"
        >
            <v-list-tile slot="activator">
                <v-list-tile-title v-text="category.name"></v-list-tile-title>
            </v-list-tile>
            <sublevel-nav
                    v-for="sublevel in category.sublevels"
                    :key="sublevel.id"
                    v-bind:sublevel="sublevel" v-bind:category="category"
            >
            </sublevel-nav>
        </v-list-group>
    </v-list>
</template>

<script>
    import SublevelNav from "./sublevel-nav";
    export default {
        name: "category-navigation",
        components: {SublevelNav},
        data() {
            return {
                items: [
                    { icon: 'bubble_chart', title: 'Inspire' }
                ]
            }
        },
        computed: {
            categories() {
                return this.$store.state.categories
            }
        }
    }
</script>

<style scoped>

</style>