<template>
  <v-container>
    <v-layout justify-center align-center align-content-center>
      <v-flex class="text-xs-center mt-5" xs12 justify-center align-center align-content-center>
        <v-icon size="128" color="primary">shopping_cart</v-icon>
        <h3 class="display-2 my-4">Bienvenido a MiTienda!</h3>
        <p class="subheading">En la esquina superior derecha encontrarás tu carrito con los productos que hayas seleccionado. En el menú de la izquierda encontrarás todas las categorías y sub-niveles que manejamos</p>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
export default {
  name: "home"
};
</script>

<style scoped>
</style>