<template>
    <v-list-group no-action sub-group v-if="sublevel.sublevels">
        <v-list-tile slot="activator" :to="getUrl(sublevel)">
            <v-list-tile-title v-text="sublevel.name"></v-list-tile-title>
        </v-list-tile>
        <sublevel-nav :category="category" v-for="item in sublevel.sublevels" :key="item.id" v-bind:sublevel="item"></sublevel-nav>
    </v-list-group>
    <v-list-tile :to="getUrl(sublevel)" v-else>
        <v-list-tile-title v-text="sublevel.name"></v-list-tile-title>
    </v-list-tile>
</template>

<script>
    export default {
        name: "sublevel-nav",
        props: ['sublevel', 'category'],
        methods: {
            getUrl(sublevel) {
              return `/categories/${this.category.id}/sublevels/${sublevel.id}/products`
            }
        }
    }
</script>

<style scoped>

</style>