<template>
  <v-container>
    <h1>{{sublevel.name}}</h1>
    <v-layout wrap>
      <v-flex xs12 md6>
        <v-radio-group v-model="availabilty">
          <v-radio value="all" label="Todos"></v-radio>
          <v-radio :value="true" label="Disponibles"></v-radio>
          <v-radio :value="false" label="No disponibles"></v-radio>
        </v-radio-group>
      </v-flex>
      <v-flex xs12 md6 class="px-2">
        <v-text-field v-if="sublevel.sublevels == undefined" v-model="nameKeyword" label="Buscar por nombre"></v-text-field>
      </v-flex>
      <v-flex xs12 md6 class="px-4">
        <v-subheader class="pl-0 mb-5">Precio en rango</v-subheader>
        <v-range-slider
                thumb-label="always"
                :thumb-size="48"
                v-model="priceRange"
                :max="20000"
                :min="0"
                :step="500"
        ></v-range-slider>
      </v-flex>
      <v-flex xs12 md6 class="px-4">
        <v-subheader class="pl-0 mb-5">Cantidad en rango</v-subheader>
        <v-range-slider
                thumb-label="always"
                :thumb-size="48"
                v-model="quantityRange"
                :max="1000"
                :min="0"
                :step="50"
        ></v-range-slider>
      </v-flex>
    </v-layout>
    <v-data-table
      :headers="headers"
      :items="products"
      class="elevation-1"
      no-data-text="No se encontraron productos"
      no-results-text="No se encontraron resultados"
      :pagination.sync="pagination"
      expand
    >
      <template slot="items" slot-scope="props">
        <tr @click="props.expanded = !props.expanded">
          <td>{{props.item.name}}</td>
          <td class="hidden-xs-only">{{props.item.price | currency}}</td>
          <td class="hidden-xs-only">{{props.item.quantity}}</td>
          <td class="hidden-xs-only">{{props.item.available ? 'Disponible' : 'No disponible'}}</td>
          <td class="text-xs-center">
            <v-btn
                    fab
                    small
                    dark
                    color="primary"
                    @click="addToCart(props.item)"
                    v-if="props.item.available"
            >
              <v-icon
                      dark
              >
                add_shopping_cart
              </v-icon>
            </v-btn>
          </td>
        </tr>
      </template>
      <template slot="expand" slot-scope="props">
        <v-card class="hidden-md-and-up" flat>
          <v-card-text>
            <p>Cantidad disponible: {{props.item.quantity}}</p>
            <p>Precio: {{props.item.price}}</p>
            <p>Disponibilidad: {{props.item.available ? 'Disponible' : 'No disponible'}}</p>
          </v-card-text>
        </v-card>
      </template>
    </v-data-table>
    <v-snackbar
            v-model="snackbar"
            bottom
    >
      Item agregado a tu carrito de compras
      <v-btn
              color="pink"
              flat
              @click="snackbar = false"
      >
        Close
      </v-btn>
    </v-snackbar>
  </v-container>
</template>

<script>
import { mapGetters } from "vuex";
export default {
  name: "sublevel-product",
  data() {
    return {
      headers: [
        {
          text: "Nombre",
          align: "left",
          value: "name",
          sortable: false
        },
        { text: "Precio", class: "hidden-xs-only", value: "price" },
        { text: "Cantidad", class: "hidden-xs-only", value: "quantity" },
        { text: "Disponibilidad", class: "hidden-xs-only", value: "available" },
        { text: "Actions", sortable: false, align: "center" }
      ],
      availabilty: 'all',
      validForm: true,
      priceRange: [0, 20000],
      quantityRange: [0, 1000],
      nameKeyword: '',
      pagination: {},
      snackbar: false
    };
  },
  computed: {
    categoryId() {
      return this.$route.params.categoryId;
    },
    sublevelId() {
      return this.$route.params.sublevelId;
    },
    products() {
      return this.filterProductsSublevel(this.sublevelId, this.availabilty, this.priceRange, this.quantityRange, this.nameKeyword);
    },
    sublevel() {
      return this.findSublevel(this.categoryId, this.sublevelId)
    },
    ...mapGetters(['getProductsBySublevel', 'findSublevel', 'filterProductsSublevel', 'getShoppingCartProduct'])
  },
  methods: {
    addToCart(product) {
      const cartItem = this.getShoppingCartProduct(product)
      if (!cartItem || cartItem.quantity < product.quantity){
        this.$store.commit('addProductToCart', product)
        this.snackbar = true
      }
    }
  },
  mounted() {
    this.$watch(
        (vm) => (vm.priceRange, vm.quantityRange, vm.nameKeyword, vm.availabilty, Date.now()),
        function () {
          this.pagination.page = 1
        }
    )
  }
};
</script>

<style scoped>
</style>