<template>
  <v-app>
      <v-navigation-drawer
              :fixed="false"
              :mini-variant="false"
              :clipped="false"
              v-model="drawer"
              app
      >
        <category-navigation
        ></category-navigation>
      </v-navigation-drawer>
    <v-toolbar :fixed="false" app :clipped-left="false">
      <v-toolbar-side-icon @click.stop="drawer = !drawer"></v-toolbar-side-icon>
      <v-toolbar-title v-text="title"></v-toolbar-title>
      <v-spacer></v-spacer>

        <v-btn icon @click.stop="rightDrawer = !rightDrawer">
          <v-badge
                  color="purple"
                  left
                  bottom
                  overlap
                  :value="getShoppingCartProducts.length > 0"
          >
            <span slot="badge">{{getShoppingCartProducts.length}}</span>
            <v-icon>shopping_cart</v-icon>
            </v-badge>
        </v-btn>
    </v-toolbar>
    <v-content>
      <router-view></router-view>
    </v-content>
    <v-navigation-drawer
      temporary
      :right="right"
      v-model="rightDrawer"
      fixed
    >
      <shopping-cart></shopping-cart>
    </v-navigation-drawer>
    <v-footer :fixed="false" app>
      <span>Kevin Correa &copy; 2018 Made with <v-icon color="purple" small>fa-heart</v-icon></span>
    </v-footer>
  </v-app>
</template>

<script>
import CategoryNavigation from "./components/categories-navigation";
import ShoppingCart from "./components/shopping-cart/shopping-cart";
import { mapGetters } from "vuex";

export default {
  components: {
    ShoppingCart,
    CategoryNavigation
  },
  data() {
    return {
      drawer: true,
      items: [{ icon: "bubble_chart", title: "Inspire" }],
      right: true,
      rightDrawer: false,
      title: "MiTienda"
    };
  },
  computed: {
    ...mapGetters(['getShoppingCartProducts'])
  },
};
</script>
